In [1]:
#! pip install pandas openpyxl numpy ipykernel nbformat plotly



# pandas e plotly
import pandas as pd

# passo 1: importar a base de dados
tabela = pd.read_csv("ecommerce_clickstream_transactions.csv")

tabela = tabela.drop(columns="Outcome")
display(tabela)

(tabela.info())
#tabela = tabela.dropna()

#display(tabela.info())

#display(tabe)
tabela = tabela.fillna(0)
display(tabela.info())
display(tabela)

,UserID,SessionID,Timestamp,EventType,ProductID,Amount
0,1,1,2024-07-07 18:00:26.959902,page_view,NaN,NaN
1,1,1,2024-03-05 22:01:00.072000,page_view,NaN,NaN
2,1,1,2024-03-23 22:08:10.568453,product_view,prod_8199,NaN
3,1,1,2024-03-12 00:32:05.495638,add_to_cart,prod_4112,NaN
4,1,1,2024-02-25 22:43:01.318876,add_to_cart,prod_3354,NaN
...,...,...,...,...,...,...
74812,1000,10,2024-05-11 22:48:45.500117,purchase,prod_1238,186.208225
74813,1000,10,2024-03-29 04:09:32.514318,logout,NaN,NaN
74814,1000,10,2024-02-09 02:58:56.128697,login,NaN,NaN
74815,1000,10,2024-04-30 16:19:48.002633,purchase,prod_2515,198.757849
74816,1000,10,2024-04-01 02:19:29.148727,logout,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74817 entries, 0 to 74816
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserID     74817 non-null  int64
 1   SessionID  74817 non-null  int64
 2   Timestamp  74817 non-null  object
 3   EventType  74817 non-null  object
 4   ProductID  32113 non-null  object
 5   Amount     10682 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74817 entries, 0 to 74816
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UserID     74817 non-null  int64
 1   SessionID  74817 non-null  int64
 2   Timestamp  74817 non-null  object
 3   EventType  74817 non-null  object
 4   ProductID  74817 non-null  object
 5   Amount     74817 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 3.4+ MB

None

,UserID,SessionID,Timestamp,EventType,ProductID,Amount
0,1,1,2024-07-07 18:00:26.959902,page_view,0,0.000000
1,1,1,2024-03-05 22:01:00.072000,page_view,0,0.000000
2,1,1,2024-03-23 22:08:10.568453,product_view,prod_8199,0.000000
3,1,1,2024-03-12 00:32:05.495638,add_to_cart,prod_4112,0.000000
4,1,1,2024-02-25 22:43:01.318876,add_to_cart,prod_3354,0.000000
...,...,...,...,...,...,...
74812,1000,10,2024-05-11 22:48:45.500117,purchase,prod_1238,186.208225
74813,1000,10,2024-03-29 04:09:32.514318,logout,0,0.000000
74814,1000,10,2024-02-09 02:58:56.128697,login,0,0.000000
74815,1000,10,2024-04-30 16:19:48.002633,purchase,prod_2515,198.757849
74816,1000,10,2024-04-01 02:19:29.148727,logout,0,0.000000

KeyError: "['timestamp'] not found in axis"